@charset "UTF-8";

body {
    background-color: rgb(145, 226, 145);
    font-family:'Courier New', Courier, monospace;
}

h1 {
    color: rgb(31, 122, 31);
}

h1#principal {
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2 {
    color: rgb(19, 73, 19);
}

.basico {
    color: #3c805e;
}

.intermediario {
    color: #80793c;
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: #c5c56070;
}